.progress {
    height: 20px;
    position: relative;
    border-radius: 20px;
    border: 1px solid grey;
}

.progress > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(43,194,83);
    position: relative;
    overflow: hidden;
}

.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 3px;
}